html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1fae5;
   /*  background-image: url(./photo/rps/pexels-elīna-arāja-3400795.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; */
    height: 100vh;
    width: 100vw;
    /* grid-template-rows: repeat(3, 1fr); */
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: .1fr 2fr .1fr; 
    height: 75vh;
    width: 75vw;
    background-color: #dddddd;
    border-radius: 20px;
    border: 1px solid lightgray;
    box-shadow: 10px 5px 5px lightgray;
}

h6 {
    text-align: center;
}

.fa-solid.fa-x.fa-2xl {
    font-size: 5em;
    margin-top: 1rem;
}
.fa-solid.fa-o.fa-2xl {
    font-size: 5em;
    margin-top: 1rem;
}

.navbar.fixed-top.navbar-light {
    background-color: #bae6fd;
    justify-content: center;
    border-bottom: 1px solid #7dd3fc;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    grid-column: 2/3;
    grid-row: 2/3;
}

#jumbo-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#intro-btn {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

#game {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2/3; */

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 8rem;
    padding-right: 8rem;
}


#grid-area {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid #9ca3af;
    background-color: #9ca3af;
    gap: 1px;
    padding-left: 0;
    padding-right: 0;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #e5e5e5;
}

.grid-item:hover {
    background-color: #bae6fd;
}

.grid-item:active {
    background-color: #7dd3fc;
}

.grid-item.disabled-blue {
    /* border: 1px solid #e5e7eb; */
    background-color: #bfdbfe;
}

.grid-item.disabled-blue:active {
    background-color: #bfdbfe;
}

.grid-item.disabled-blue:hover {
    background-color: #bfdbfe;
}

.grid-item.disabled-red {
    /* border: 1px solid #e5e7eb; */
    background-color: #fecaca;
}

.grid-item.disabled-red:active {
    background-color: #fecaca;
}

.grid-item.disabled-red:hover {
    background-color: #fecaca;
}

.grid-item.disabled {
    /* border: 1px solid #e5e7eb; */
    background-color: #d1d5db;
}

.grid-item.disabled:active {
    background-color: #d1d5db;
}

.grid-item.disabled:hover {
    background-color: #d1d5db;
}

#game-cards {
    display: flex;
    flex-direction: row;
    height: 10rem;
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
    gap: 1rem;
}

#card-body-circle { /*ID used to override default bootstrap*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#card-body-cross {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* #circle-btn {
    border: none;
}

#cross-btn {
    border: none;
} */

.cross-highlight {
    background-color: #bfdbfe;
}

.circle-highlight {
    background-color: #fecaca;
}

#text-content {
    text-align: center;
    margin-bottom: 2rem;
}

#reset-game {

}

#screen-options {
    display: flex;
    justify-content: center;
    gap: 10px;
}